<div class="jumbotron">
	<h1>Ember Minesweeper</h1>


	{{#if gameOver}}
		<img src="assets/tomster-stink.jpeg">

		<h2>Boom! Game Over!</h2>
		<p>I'm sorry you didn't win. No worrys though. You can always try again.</p>
		<hr>
	{{/if}}

	{{#if gameWon}}
		<img src="assets/tomster-happy.png" class="img-rounded">

		<h2>Winning! Whoop whoop!!!</h2>
		<p>You made it through this level, but can you beat the next?</p>
		<hr>
	{{/if}}

	{{#if level}}
		<p>Current level: {{level.name}}</p>

		<div class="row">
			<div class="col-sm-3"><strong>Turns:</strong> {{turns}}</div>
			<div class="col-sm-3"><strong>Time:</strong> {{timeSpent}}</div>
			<div class="col-sm-3"><strong>Mines:</strong> {{level.mines}}</div>
			<div class="col-sm-3"><strong>Flags remaining:</strong> {{flagsLeft}}</div>
		</div>
		<div class="row">
			<div class="col-sm-12 text-center">
				<button {{action 'resetGame'}} class="btn btn-danger" role="button">Reset Game</button>
			</div>			
		</div>
	{{else}}
		<p>Let's get started. Please select a level below to continue.</p>
	{{/if}}
</div>

{{#unless level}}
	<div>
		{{view 'select' 
			class="form-control" 
			content=levels
			optionValuePath="content"
			optionLabelPath="content.name"
			selection=level
			prompt="Please select a level to continue"}}
	</div>
{{/unless}}

{{#if model}}
	{{game-board 
		model=model 
		action="gameOver" 
		takeTurn="takeTurn" 
		startTimer="startTimer"
		classNames="game-board"}}
{{else}}
	{{#if level}}
		<i class="fa fa-spinner fa-5x fa-pulse text-danger"></i>
	{{/if}}
{{/if}}

