<div class="jumbotron">
	<h2>Welcome to Minesweeper</h2>

	{{#if level}}
		<p>Current level: {{level.name}}</p>

		<div class="row">
			<div class="col-sm-3"><strong>Turns:</strong> {{turns}}</div>
			<div class="col-sm-3"><strong>Time:</strong> {{timeSpent}}</div>
			<div class="col-sm-3"><strong>Mines:</strong> {{level.mines}}</div>
			<div class="col-sm-3"><strong>Flags remaining:</strong> {{flagsLeft}}</div>
		</div>
	{{else}}
		<p>Let's get started. Please select a level below to continue.</p>
	{{/if}}
</div>

{{#unless level}}
	<div>
		{{view 'select' 
			class="form-control" 
			content=levels
			optionValuePath="content"
			optionLabelPath="content.name"
			selection=level
			prompt="Please select a level to continue"}}
	</div>
{{/unless}}

{{#if model}}
	{{game-board model=model action="gameOver" takeTurn="takeTurn" startTimer="startTimer"}}
{{/if}}
